<html>
<link rel="stylesheet" type="text/css" href="Site.css">

<div ng-app="myEfolio" ng-controller="EPorfolioController">
	<header class="top-container">
		<p>
			<h1 id="heading">Kevin Farley: Computer Engineer</h1>
			<img class="circle-image" src="./Resources/gitpic.jpg"></img>
		</p>
		<div class="container">
			<ul id="menu">
				 <li><a href="#" ng-click="newSelection($event)" link='about'>About</a></li>
				 <li><a href="#" ng-click="newSelection($event)" link='home'>Home</a>
				 <li><a href="#" ng-click="newSelection($event)" link='contact'>Contact</a></li>
			</ul>
		</div>
	</header>
	<body>
		<p>
			<div class="main-content">
				<div home-view class="fadeIn" ng-class="{ hidden: selected != 'home' }"></div>
				<div contact-view class="fadeIn" ng-class="{ hidden: selected != 'contact' }"></div>
				<div about-view class="fadeIn" ng-class="{ hidden: selected != 'about' }"></div>
			</div>
		</p>
	</body>
</div>

<footer>
	<p>Created by Kevin Farley: hosted by github pages, latest update: 7/3/2015</p>
</footer>

<script type="text/javascript" src="./Sources/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type="text/javascript" src="./Sources/site.js"></script>
</html>
