.fadeIn {
  transition: 1s ease-in-out opacity;
  opacity: 1;
  overflow: hidden;
  height: auto;
  position: relative;
}

.fadeIn.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: relative;
}

.centered-text {
  text-align: center;
}

.container {
  text-align: center;
  width: auto;
  margin: 0 0 0 0;
}

.main-content {
  position: relative;
  margin-top: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: darkgray;
  color: black;
  width: 91%;
  border-radius: 3vw;
}

.views {
  margin-left: auto;
  margin-right: auto;
}

#heading {
  color: lightgrey;
  text-align: center;
  font-weight: bold;
}

#menu {
  text-align: auto;
  margin: auto auto;
  display: inline-block;
  list-style: none;
  padding: 0 0 0 0;
  border-radius: 5vw;
  width: auto;
  flex: 1;
  margin-top: 2vw;
  background-color: darkgray;
}

#menu li {
  float: left;
  border-radius: 5vw;
  padding-right: 7px;
}

#menu li a {
  width: 5vw;
  padding: 5px 5px 5px 5px;
  flex-basis: 1;
  display: block;
  text-decoration: none;
  color: #777;
  font-weight: bold;
}

li a.active-link {
  color: white !important;
  pointer-events: none;
}

#menu li a:hover {
  color: white;
}

#contactView {
  width: 45vw;
}

#homeView {
  width: 45vw;
}

html {
  background-color: black;
  background-size: cover;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  font-variant: normal;
  line-height: 2vw;
}

@media (max-width: 1000px) {
    html {
        font-size: 3vw;
        line-height: 5vw;
    }

    .col-img {
      visibility: hidden;
      display: none;
    }

    #menu li a {
      width: 10vw;
    }

    #contactView {
      width: 90%;
    }

    #homeView {
      width: 90%;
    }
}

footer {
  position: relative;
  color: #ddd;
  text-align: center;
}

.circle-image {
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 10vw;
  max-height: 10vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.separator {
  display: block;
  border: 1px;
  border-style: solid;
}

.light-separator {
  display: block;
  border: 1px;
  border-style: solid;
  border-color: grey;
}

.resume-links {
  text-align: center;
}

.about-paragraphs {
  width: 41%;
  text-align: center;
}

#workExperiences {
  margin-left: 3%;
  margin-right: 3%;
}

.centered-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.col-img {
  flex-basis: 0;
  margin-left: auto;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}
