.fadeIn {
  transition: 1s ease-in-out opacity;
  opacity: 1;
  overflow: hidden;
  height: auto;
  position: relative;
}

.fadeIn.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: relative;
}

.centered-text {
  text-align: center;
}

.container {
  text-align: center;
  width: auto;
  margin: 0 0 0 0;
}

.main-content {
  position: relative;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  /* background-color: rgba(250,250,250,0.5); */
  background-color: darkgray;
  color: black;
  width: 91%;
  border-radius: 32px;
}

.views {
  margin-left: auto;
  margin-right: auto;
}

#heading {
  /* text-shadow: 3px 3px rgba(22, 22, 70, 0.75); */
  color: lightgrey;
  text-align: center;
  font-weight: bold;
}

#menu {
  text-align: auto;
  margin: auto auto;
  display: inline-block;
  list-style: none;
  padding: 0 0 0 0;
  border-radius: 75px;
  margin-top: 15px;
  margin-left: 7px;

  background-color: darkgray;
  /* background-color: cyan; */
}

#menu li {
  float: left;
  border-radius: 75px;
  padding-right: 7px;
}

.circle-image {
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#menu li a {
  width: 75px;
  padding: 5px 5px 5px 5px;
  flex-basis: 1;
  display: block;
  text-decoration: none;
  color: #777;
  border-radius: 75px;
  font-weight: bold;
}

li a.active-link {
  color: white !important;
  pointer-events: none;
}

#menu li a:hover {
  color: white;
  /*background-color:rgba(150,150,150,0.5);*/
}

#contactView {
  width: 42%;
}

#homeView {
  width: 42%;
}

html {
  background-color: black;
  /* background-color: navy; */

  background-size: cover;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: 26px;
}

footer {
  position: relative;
  color: #ddd;
  text-align: center;
}

.separator {
  display: block;
  border: 1px;
  border-style: solid;
}

.light-separator {
  display: block;
  border: 1px;
  border-style: solid;
  border-color: grey;
}

.resume-links {
  /*width:33%; For view / download*/
  text-align: center;
  width: 41%; /* For all three as pdfs */
}

.about-paragraphs {
  width: 41%;
  text-align: center;
}

#workExperiences {
  margin-left: 3%;
  margin-right: 3%;
}

.centered-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.col-img {
  flex-basis: 0;
  margin-left: auto;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}
