/*.active-link{
    pointer-events: none;
    cursor: default;
}*/

.container{
    text-align: center;
    width: auto;
    margin: 0 0 0 0;
}

.main-content{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:white;
    width:auto;
}

#heading{
    color:white;
    text-align:center;
    font-weight:bold;
}

#menu {
    text-align:auto;
    margin:auto auto;
    display: inline-block;
    list-style:none;
    padding: 0 0 0 0;
    border-radius: 75px;
    background-color:#888;
}

#menu li {
    float: left;
    border-radius:75px;
    background-color:#888;
}

#menu li a {
    width:75px;
    display:block;
    text-decoration:none;
    color:#fff;
    border-radius: 75px;
    font-weight:bold;
    background-color:#888;
}   

#menu li a:hover {
    color:grey;
    background-color:#ddd;
}

html{
    background-color:#aaa;
}

footer {
    color:#eee;
    text-align:center
}