<!-- about mobile view -->
<div class='views' id='aboutView'>
<p>
	<div class='resume-links centered-div'>
		<a href="./Resources/Resume.pdf" target="_blank">My Resume</a>
		<p class='separator'></p>
	</div>
	<br />
	<div class='centered-div about-paragraphs'>
		<p>
			Welcome to my about-page! <br /> <br />
			This is the main point of interest in this site, feel free to check out my personal experience and reach out!
		</p>
	</div>
	<br />
	<div class='resume-links centered-div'>
		<p class='separator'></p>
		<a href="./Resources/Resume.pdf" target="_blank">My Resume</a>
	</div>
<p>