<!-- about view -->
<div class='views' id='aboutView'>
<p>
	<div class='resume-links centered-div'>
		<!-- old...
		<a href="./Resources/Resume.docx" download>Download My Resume (docx)</a>
		Or
		<a href="./Resources/Resume.pdf" target="_blank">View in browser (pdf)</a>
		<p class='separator'></p> 
		... -->
		<a href="./Resources/Resume-Software.pdf" target="_blank">My Software Resume</a>
		|
		<a href="./Resources/Resume.pdf" target="_blank">My Full Resume</a>
		|
		<a href="./Resources/Resume-Hardware.pdf" target="_blank">My Hardware Resume</a>
		<p style="text-align:center" class="separator"></p>
	</div>
	<br>
	<div class='centered-div about-paragraphs'>
		<p>
			As a Computer Engineering student from the University of Cincinnati 
			I have a passion for everything in the computing field. <br> <br>
			From programming a web app to wiring up electrical components of an arduino
			my interest in logic and the physicality of electricity consumes me in and out of the classroom. <br> <br>
			Most of my experience to date has been directed towards software; however, my interest in
			hardware is just as resonant. This page is the largest one and hopefully, will allow you to get
			a decent understanding of who I am, what I have done, and what I am all about </br> <br>
			This site has been created and maintained by myself. To see my resume(s) there are links 
			above and below for your viewing or saving pleasure.
		</p>
	</div>
	<br>
	<p class='light-separator'></p>
	<br>
	<div class='tech-content'>
		<div class='my-images'>
			<br> <br> <br> <br>
			<!-- maybe use this div to line up images of location/ tool per experience -->
			<img class="circle-image" src="./Resources/r&k-image-2.jpg"></img><br>
			<br>
			<img class="circle-image" src="./Resources/revUc-image.jpg"></img><br>
			<br>
			<img class="circle-image" src="./Resources/cu-image.jpg"></img><br>
			<br>
			<img class="circle-image" src="./Resources/uc-image.jpg"></img><br>
			<br>
			<img class="circle-image" src="./Resources/siemens-image.jpg"></img><br>
			<br>
			<img class="circle-image" src="./Resources/google-play-image.jpg"></img><br>
			<br>
			<img class="circle-image" src="./Resources/guitar-image.jpg"></img><br>
	
			<img class="circle-image" src="./Resources/cvill-image.jpg"></img><br>
		</div>
		
		<div class='centered-div'>
			<p style='text-align:center'>
				This section contains all of my relevant technical experiences in chronological order
				<br>
				eventually this will have a filtering functionality by year, location, and type
				<br>
			</p>
			<div id='workExperiences'>
				<strong><u>Technical Experience</u></strong> <br>
				<ul>
				    <strong>2015</strong> <em><u>Software Engineer Co-op </u></em><strong><u>Consultant and Developer for Software Solutions</u></strong><br>
				    Rippe &amp; Kingston, Cincinnati, OH
				    <li>Responsible for developing and estimating software solutions in the form of web applications<em></em></li>
				    <li>Worked with C#, html 5, CSS3, and JavaScript for ASP .NET MVC4 web applications<em></em></li>
				    <li>Used Git (BitBucket) for version control and NUnit for unit testing, as well as knockout, backbone, and jQuery to structure various site behavior
				    and content<em></em></li>
				</ul>
				<ul>
					<strong>2015</strong> <em><u>Personal Programming Project </u></em><strong><u>Manage,</u></strong><em><u> </u></em><strong><u>Design, and Develop Retro Video Game</u></strong><br>
				    Revolution Uc (hackathon), Cincinnati, OH
				    <li>Managed and developed a fully functional retro-style game with one other team member<em></em></li>
				    <li>Worked with python (Pygame) and git (Github for version control)<em></em></li>
					<li>The project is named PyGameProject2015 and is viewable both on my github account (kmfarley11) and at <a href="http://challengepost.com/software/pygameproject2015" target="_blank">http://challengepost.com/software/pygameproject2015</a> <em></em></li>
				</ul>
				<ul>
				    <strong>2015</strong> <em><u>Computer Engineering Student </u></em><strong><u>Hardware Designer of Sequential and Pipelined Control Units</u></strong><br>
				    University of Cincinnati, Cincinnati, OH
				    <li>Responsible for designing and implementing a sequential control unit through the use of logisim<em></em></li>
				    <li>Also responsible for collaborating on a design for a pipelined control unit using dynamic branch prediction<em></em></li>
				    <li>Worked with logisim and Microsoft Word to create ~60 and ~40 page reports respectively<em></em></ul>
				</ul>
				<ul>
				    <strong>2015</strong> <em><u>Software Engineering Student </u></em><strong><u>Project Management of Eclipse Plugin</u></strong><br>
				    University of Cincinnati, Cincinnati, OH
				    <li>Responsible for maintaining and developing source code and managing the team&#8217;s Git repository<em></em></li>
				    <li>Also responsible for keeping members on-task and timely in development<em></em></li>
				    <li>Worked with mainly Java in Eclipse: Juno to manufacture and maintain an Eclipse Plug-in<em></em></li>
				</ul>
				<ul>
				    <strong>2014-2015</strong> <em><u>Software Engineer Co-op </u></em><strong><u>Product Engineering in Teamcenter Integration</u></strong><br>
				    Siemens PLM Software, Milford, OH
				    <li>Responsible for creating, editing, and running automated tests and utilities for 3D Modeling Software<em></em></li>
				    <li>Worked with mainly C++ , with a little bit of visual basic and objective C<em></em></li>
				    <li>Also looked into/ looked for bugs in UI as well as auto-tests which needed to be reported and fixed <em></em></li>
				</ul>
				<ul>
				    <strong>2013-2014</strong> <em><u>Personal Programming Project </u></em><strong><u>Design and Publish Android App</u></strong><br>
				    <li>App&#8217;s name: WhatToDo?? (available for free on google app market)</li>
				    <li>Designed to take user input on activities you may wish to do</li>
				    <li>Outputs a random suggestion from stored possibilities (the objective is to simplify any decision process)</li>
				</ul>
				<ul>
				    <strong>2011-2012</strong> <em><u>Engineering Student/ Project Manager </u></em><strong><u>Electrical Guitar Design and Manufacturing</u></strong><br>
				    Centerville High School, Centerville, OH
					<li>Responsible for designing guitar body in auto-cad as well as researching possible designs</li>
					<li>Collaborated on a guitar template system that resulted in effective use of time and manufacturing</li>
					<li>Manufactured the body of an electrical guitar through the use of power tools such as a router</li>
					<li>Fixed, soldered, and completely connected the internal electrical circuits for audio output</li>
				</ul>
				<ul>
				    <strong>2011- 2012</strong> <em><u>Engineering Student/ Project Manager</u></em><strong><u> Robot Design and Battle Competition</u></strong><br>
				    Centerville High School, Centerville, OH
				    <li>Responsible for making sure the team met the work schedule and was prepared for competition</li>
				    <li>Designed and enhanced a Robot that would battle others through a remote control</li>
				</ul>		
			</div>
		</div>
		<br>
	</div>
	<div class='resume-links centered-div'>
		<p class='separator'></p>
		<a href="./Resources/Resume-Software.pdf" target="_blank">My Software Resume</a>
		|
		<a href="./Resources/Resume.pdf" target="_blank">My Full Resume</a>
		|
		<a href="./Resources/Resume-Hardware.pdf" target="_blank">My Hardware Resume</a>
	</div>
</p>
</div>