<!-- about mobile view -->
<div class='views' id='aboutView'>
<p>
	<div class='resume-links centered-div'>
		<a href="./Resources/Resume-Software.pdf" target="_blank">My Software Resume</a>
		|
		<a href="./Resources/Resume.pdf" target="_blank">My Full Resume</a>
		|
		<a href="./Resources/Resume-Hardware.pdf" target="_blank">My Hardware Resume</a>
		<p class='separator'></p>
	</div>
	<br />
	<div class='centered-div about-paragraphs'>
		As a Computer Engineering student from the University of Cincinnati 
		I have a passion for everything in the computing field.
		My interest in logic and the physicality of electricity consumes me in and out of the classroom. <br> <br>
		Most of my experience to date has been directed towards software; however, my interest in
		hardware is just as resonant. </br> <br>
		To view all my technical experiences in browser please view in on a PC or view my resume link(s) above or below.
		This site has been created and maintained by myself.
	</div>
	<br />
	<div class='resume-links centered-div'>
		<p class='separator'></p>
		<a href="./Resources/Resume-Software.pdf" target="_blank">My Software Resume</a>
		|
		<a href="./Resources/Resume.pdf" target="_blank">My Full Resume</a>
		|
		<a href="./Resources/Resume-Hardware.pdf" target="_blank">My Hardware Resume</a>
	</div>
<p>