<!-- contact view -->
<div class='views' id='contactView'>
<p>
	<div class="centered-text"><strong style="font-size:20px">Contact Info:</strong></div>
	
	<p class='separator'></p>
	
	<div class="centered-text">Main Info:</div> <br>
	<div style="float:left">Phone Number:</div><div style="float:right"> 937-430-7356</div> <br>
	<div style="float:left">Github Username:</div><div style="float:right"> kmfarley11</div> <br>
	<div style="float:left">Personal Email:</div><div style="float:right"> kmfarley11@gmail.com </div><br>
	<div style="float:left">Student (UC) Email:</div><div style="float:right"> farleykm@mail.uc.edu </div><br>
	
	<p class='separator'></p>
		
	<div class="centered-text">(Permanent) Address:</div> <br>
	<div style="float:left">Street:</div><div style="float:right"> 10033 Settlement House Road</div> <br>
	<div style="float:left">Zip:</div><div style="float:right"> 45458</div> <br>
	<div style="float:left">City/State:</div><div style="float:right"> Centerville, Ohio</div> <br>

	<p class='separator'></p>
	<div style="display:none">
	<div class="centered-text">(Current) Address:</div> <br>
	<div style="float:left">Street:</div><div style="float:right"> 2545 Dennis Street Apt #5226 </div><br>
	<div style="float:left">Zip:</div><div style="float:right"> 45219</div> <br>
	<div style="float:left">City/State:</div> <div style="float:right">Cincinnati, Ohio </div><br>
	
	<p class='separator'></p> <br>
	</div>
</p>
</div>