<!-- contact view -->
<div class='views' id='contactView'>
	<p style="text-align:center" class="separator"></p>

	<!-- <h2 class="centered-text">Contact Info</h2>
	<p class='separator'></p>
	<h4 class="centered-text">Main Info</h4> -->

	<div style="float:left">Personal Email:</div><div style="float:right"> kmfarley11@gmail.com </div>
	<br />
	<div style="float:left">Github Username:</div><div style="float:right"> <a href="https://github.com/kmfarley11">kmfarley11</a></div>
	<br />
	
	<p style="text-align:center" class="separator"></p>
</div>