<!-- home view -->
<div class="views" id='homeView'>
	<p style="text-align:center" class="separator"></p>
	<p style="display:inline-block">
		Hello, my name is Kevin Farley and I am a Computer Engineer hailing from Cincinnati, Ohio.
		<br> <br>
		This site contains my technical information with regards to Computers via my professional as well as personal experience with them.
		<ul>
			To navigate this site simply click one of the buttons above:
			<li><a href="#" ng-click="newSelection($event)" link='about'>About:</a> my works, experience, and resume(s)</li>
			<li><a href="#" ng-click="newSelection($event)" link='home'>Home:</a> (this page) brief description of the site & myself</li>
			<li><a href="#" ng-click="newSelection($event)" link='contact'>Contact:</a> a listing of my current contact information. Feel free to get in touch however you see fit.</li>
		</ul>
	</p>
	<br>
	<p style="text-align:center" class="separator"></p>
</div>