<!-- home view -->
<!DOCTYPE html>
<div class="views" id='homeView'>
	<p style="text-align:center" class="separator"></p>
	<div style="display:inline-block">
			Hello, my name is Kevin Farley and I am a Computer Engineer hailing from Cincinnati, Ohio.
			<br /> <br />
			This site contains my technical information with regards to Computers via my professional as well as personal experience with them.
			<br /> <br />
			To navigate this site simply click one of the buttons above:
	</div>
	<ul>
		<li><a href="#" ng-click="newSelection($event)" link='about'>About:</a> my works, experience, and resume(s)</li>
		<li><a href="#" ng-click="newSelection($event)" link='home'>Home:</a> (this page) brief description of the site and myself</li>
		<li><a href="#" ng-click="newSelection($event)" link='contact'>Contact:</a> a listing of my current contact information. Feel free to get in touch however you see fit.</li>
	</ul>
	<p style="text-align:center" class="separator"></p>
</div>
