<p>
    <strong>Kevin Farley </strong>
    <strong></strong>
</p>
<p>
    <strong>937-430-7356 10033 Settlement House Road</strong>
</p>
<p>
    <strong>farleykm@mail.uc.edu Centerville, OH 45458</strong>
</p>
<p>
    <strong><u>kmfarley11.github.io</u></strong>
    <em> (type/ view in browser)</em>
    <strong><u></u></strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong><u>Education</u></strong>
    <strong> </strong>
</p>
<p>
    Class of 2017<strong> Bachelor of Science: Computer Engineering</strong>
</p>
<p>
    <strong> </strong>
    University of Cincinnati, Cincinnati, OH
</p>
<p>
    College of Engineering and Applied Science
</p>
<p>
    <strong>G.P.A:</strong>
    3.501 / 4.0
</p>
<p>
    <strong><u>Skills</u></strong>
</p>
<p>
    &#8226; Main Languages/SDKs: C#/ HTML/ JavaScript/ CSS/ C++/ Java<strong></strong>
</p>
<p>
    &#8226; Frameworks/ libraries: knockout.js/ backbone.js/ jQuery/ angular.js/ PyGame<strong></strong>
</p>
<p>
    &#8226; Supplemental Languages/ SDKs: Python/ Matlab/ Android/ C/ Arduino<strong></strong>
</p>
<p>
    &#8226; IDEs: Visual Studio 2009-13/ Eclipse/ Codeblocks/ Arduino<strong></strong>
</p>
<p>
    &#8226; OS: Windows 8/ 7/ XP, Linux Ubuntu/ Elementary OS/ Arch/ Mint
</p>
<p>
    &#8226; Other Software: B2Spice/ Autodesk Inventor/ Multisim/ NX10/ Teamcenter<strong></strong>
</p>
<p>
    &#8226; Tools: Git/ basic FPGA (Verilog)/ Arduino/ Breadboarding/ Oscilloscope/ Signal Generators<strong></strong>
</p>
<p>
    &#8226; Other: Machining/ Soldering/ Basic woodworking with power tools<strong></strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong><u>Technical Experience</u></strong>
</p>
<p>
    2015 <em><u>Software Engineer Co-op </u></em><strong><u>Consultant and Developer for Software Solutions</u></strong>
</p>
<p>
    Rippe &amp; Kingston, Cincinnati, OH
</p>
<p>
    &#8226; Responsible for developing and estimating software solutions in the form of web applications<em></em>
</p>
<p>
    &#8226; Worked with C#, html 5, CSS3, and JavaScript for ASP .NET MVC4 web applications<em></em>
</p>
<p>
    &#8226; Used Git (BitBucket) for version control and NUnit for unit testing, as well as knockout, backbone, and jQuery to structure various site behavior
    and content<em></em>
</p>
<p>
2015 <em><u>Personal Programming Project </u></em><strong><u>Manage,</u></strong><em><u> </u></em>    <strong><u>Design, and Develop Retro Video Game</u></strong>
</p>
<p>
    Revolution Uc (hackathon), Cincinnati, OH
</p>
<p>
    &#8226; Managed and developed a fully functional retro-style game with one other team member<em></em>
</p>
<p>
    &#8226; Worked with python (Pygame) and git (Github for version control)<em></em>
</p>
<p>
&#8226; The project is named PyGameProject2015 and is viewable both on my github account (kmfarley11) and at    <a href="http://challengepost.com/software/pygameproject2015">http://challengepost.com/software/pygameproject2015</a> <em></em>
</p>
<p>
    2015 <em><u>Computer Engineering Student </u></em><strong><u>Hardware Designer of Sequential and Pipelined Control Units</u></strong>
</p>
<p>
    University of Cincinnati, Cincinnati, OH
</p>
<p>
    &#8226; Responsible for designing and implementing a sequential control unit through the use of logisim<em></em>
</p>
<p>
    &#8226; Also responsible for collaborating on a design for a pipelined control unit using dynamic branch prediction<em></em>
</p>
<p>
    &#8226; Worked with logisim and Microsoft Word to create ~60 and ~40 page reports respectively<em></em>
</p>
<p>
    <em> </em>
</p>
<p>
    2015 <em><u>Software Engineering Student </u></em><strong><u>Project Management of Eclipse Plugin</u></strong>
</p>
<p>
    University of Cincinnati, Cincinnati, OH
</p>
<p>
    &#8226; Responsible for maintaining and developing source code and managing the team&#8217;s Git repository<em></em>
</p>
<p>
    &#8226; Also responsible for keeping members on-task and timely in development<em></em>
</p>
<p>
    &#8226; Worked with mainly Java in Eclipse: Juno to manufacture and maintain an Eclipse Plug-in<em></em>
</p>
<p>
    2014-2015 <em><u>Software Engineer Co-op </u></em><strong><u>Product Engineering in Teamcenter Integration</u></strong>
</p>
<p>
    Siemens PLM Software, Milford, OH
</p>
<p>
    &#8226; Responsible for creating, editing, and running automated tests and utilities for 3D Modeling Software<em></em>
</p>
<p>
    &#8226; Worked with mainly C++ , with a little bit of visual basic and objective C<em></em>
</p>
<p>
    &#8226; Also looked into/ looked for bugs in UI as well as auto-tests which needed to be reported and fixed <em></em>
</p>
<p>
    2013-2014 <em><u>Personal Programming Project </u></em><strong><u>Design and Publish Android App</u></strong>
</p>
<p>
    &#8226; App&#8217;s name: WhatToDo?? (available for free on google app market)
</p>
<p>
    &#8226; Designed to take user input on activities you may wish to do
</p>
<p>
    &#8226; Outputs a random suggestion from stored possibilities (the objective is to simplify any decision process)
</p>
<p>
    2011-2012 <em><u>Engineering Student/ Project Manager </u></em><strong><u>Electrical Guitar Design and Manufacturing</u></strong>
</p>
<p>
    <strong> </strong>
    Centerville High School, Centerville, OH
</p>
<p>
    &#8226; Responsible for designing guitar body in auto-cad as well as researching possible designs
</p>
<p>
    &#8226; Collaborated on a guitar template system that resulted in effective use of time and manufacturing
</p>
<p>
    &#8226; Manufactured the body of an electrical guitar through the use of power tools such as a router
</p>
<p>
    &#8226; Fixed, soldered, and completely connected the internal electrical circuits for audio output
</p>
<p>
    2011- 2012 <em><u>Engineering Student/ Project Manager</u></em><strong><u> Robot Design and Battle Competition</u></strong>
</p>
<p>
    Centerville High School, Centerville, OH
</p>
<p>
    &#8226; Responsible for making sure the team met the work schedule and was prepared for competition
</p>
<p>
    &#8226; Designed and enhanced a Robot that would battle others through a remote control
</p>
<p>
    <strong><u>Activities/Awards</u></strong>
</p>
<p>
    University of Cincinnati:
</p>
<p>
    &#8226; Dean&#8217;s List 1<sup>st</sup> , 2<sup>nd</sup> , 4<sup>th</sup>, and 5<sup>th</sup> semesters in Computer Engineering
</p>
<p>
    &#8226; National Society of Collegiate Scholars
</p>
<p>
    &#8226; ACM, Revolution UC (hackathon)
</p>
<p>
    High School:
</p>
<p>
    &#8226; Eagle Scout of Boy Scout Troop 316 Centerville, OH
</p>
<p>
    &#8226; National Honors Society member
</p>
<p>
    &#8226; Centerville Jazz (Marching) Band, Centerville Winter Drumline, and Jazz Band
</p>
<p>
    <strong><u>Other Work Experience</u></strong>
</p>
<p>
    2013 <strong>Menards Garden Center Team Member</strong>
</p>
<p>
    <strong> </strong>
    Menards, 8480 Springboro Pike, Miamisburg, OH 45342
</p>
<p>
    2012 <strong>Papa John&#8217;s Delivery Driver</strong>
</p>
<p>
    <strong> </strong>
    Papa Johns, West Franklin Street, Centerville, OH 45459<em></em>
</p>